*{
    box-sizing: border-box;
}

.background{
    background: url('boat.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    margin: 50px auto;

    position: relative;
    height: 45vh;
    width: 60vw;
}


.background::after{
    content: '';
    position: absolute;
    bottom: -101%;
    background-image: inherit;
    background-size: cover;
    background-position:  right bottom;
    background-repeat: no-repeat;
    transform: rotateX(180deg);
    width: inherit;
    height: inherit;
}

.background::before{
    background-image: linear-gradient(to bottom , rgba(255,2555,255,0.2),#ffffff 90%,#ffffff );
    content: '';
    position: absolute;
    bottom: -101%;
    width: inherit;
    height: inherit;
    z-index: 100;



}